header{
    position: absolute;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #cdcdcd50;
    display: inline-flex;
    left: 0;
}

p{
    position: relative;
    margin: auto;
}

.InfoHolder{
    position: absolute;
    width: 100%;
    top: 52px;
    height: auto;
    bottom: 0;
    background: transparent;
    display: block;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
}

.ResultHolder{
    position: relative;
    width: 95%;
    border: 1px solid forestgreen;
    height: 200px;
    overflow: hidden;
    margin: auto;
    top: 2%;
    border-radius: 5px;
}