.RightButton{
    margin-right: 1%;
    background: forestgreen;
}

.SemiButtons{
    width: 100px;
}

.DataHolder{
    position: absolute;
    top: 50px;
    height: auto;
    bottom: 50px;
    background: transparent;
}

.results{
    position: absolute;
    color: forestgreen;
    width: 100%;
    height: auto;
    border: 1px solid gainsboro;
    left: 0;
    margin-top: 2%;
}