.RightButton{
    margin-right: 1%;
    background: forestgreen;
}

.SemiButtons{
    width: 100px;
}

.DataHolder{
    position: absolute;
    top: 50px;
    height: auto;
    bottom: 50px;
    background: transparent;
}

.results{
    color: forestgreen;
    width: 90%;
    margin: 2%;
    height: auto;
    border: 1px solid brown;
    padding: 2%;
    left: 0;
}